{% load static %}
<div class="sidebar">
    <div class="logo">
        <i class="fa-solid fa-layer-group"></i>
        <span>DealDeck</span>
    </div>

    <div class="menu-category">Menu</div>

    <a href="{% url 'inventory_manager:dashboard' %}"
       class="menu-item {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
        <i class="fa-solid fa-house"></i> Dashboard
    </a>

    <a href="{% url 'inventory_manager:product_list' %}"
       class="menu-item {% if 'product' in request.resolver_match.url_name %}active{% endif %}">
        <i class="fa-solid fa-box-open"></i> Products
    </a>

    <a href="{% url 'inventory_manager:purchase_order_list' %}"
       class="menu-item {% if 'purchase' in request.resolver_match.url_name %}active{% endif %}">
        <i class="fa-solid fa-cart-shopping"></i> Purchase
    </a>

    <a href="{% url 'inventory_manager:supplier_list' %}"
       class="menu-item {% if 'supplier' in request.resolver_match.url_name %}active{% endif %}">
        <i class="fa-solid fa-users"></i> Suppliers
    </a>

    <div class="menu-category">Account</div>
    <a href="{% url 'logout' %}" class="menu-item">
        <i class="fa-solid fa-right-from-bracket"></i> Logout
    </a>
</div>
